doctype html
html
  head
    title Admin index
    include ../head.pug
  body
    include ../breadcrumb.pug
    .container
      .list-group
        each methodName, methodRoute in global.resources.category
          a(href=methodRoute).list-group-item.justify-content-between.list-group-item-action= methodName
