doctype html
html
  head
    title Admin index
    include ../head.pug
  body
    include ../breadcrumb.pug
    .container
      .list-group
        each method in local.methods
          a(href=method.path).list-group-item.justify-content-between.list-group-item-action= method.name
