doctype html
html
  head
    title Admin index
    include head.pug
  body
    .jumbotron
      .container
        h1.display-3 EqDB admin
    .container
      .list-group
        each resourceMethods, resource in global.resources
          each methodName, methodRoute in resourceMethods
            a(href=resource + '/' + methodRoute).list-group-item.justify-content-between.list-group-item-action= methodName
